@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/PT-Sans-regular/PT-Sans-regular.eot');
    src: url('/fonts/PT-Sans-regular/PT-Sans-regular.eot?#iefix') format('embedded-opentype'),
    local('PT Sans'),
    local('PT-Sans-regular'),
    url('/fonts/PT-Sans-regular/PT-Sans-regular.woff2') format('woff2'),
    url('/fonts/PT-Sans-regular/PT-Sans-regular.woff') format('woff'),
    url('/fonts/PT-Sans-regular/PT-Sans-regular.ttf') format('truetype'),
    url('/fonts/PT-Sans-regular/PT-Sans-regular.svg#PTSans') format('svg');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/PT-Sans-700/PT-Sans-700.eot');
    src: url('/fonts/PT-Sans-700/PT-Sans-700.eot?#iefix') format('embedded-opentype'),
    local('PT Sans Bold'),
    local('PT-Sans-700'),
    url('/fonts/PT-Sans-700/PT-Sans-700.woff2') format('woff2'),
    url('/fonts/PT-Sans-700/PT-Sans-700.woff') format('woff'),
    url('/fonts/PT-Sans-700/PT-Sans-700.ttf') format('truetype'),
    url('/fonts/PT-Sans-700/PT-Sans-700.svg#PTSans') format('svg');
}

/* Stylesheet for login, reset password and request account pages */
html, body {
  margin:0;
  padding:0;
  height: 100vh;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

header.header {
    background-color: rgb(228, 235, 242);
    border-bottom-color: rgb(195, 213, 219);
    width: 100%;
    display: flex;
    align-items: baseline;
    top: 0;
    position: sticky;
}
header span {
	margin-right: 2em;
}
button.login-button {
    background-color: #064785;
    color: #f8f8f8;
    font-size: 1.5em;
    margin: 1ex;
}

nav {
	display: block;
	flex: 1;
}

nav ol {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ol li {
	display: inline-block;
	flex: 1;
    padding: 0;
    margin: 0;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.login-panel {
	padding: 1em;
	flex: 1;
    background-color: rgb(228, 235, 242);
    border: solid rgb(195, 213, 219);
	margin: 1em;
	height: 300px;
	max-width: 300px;

}
.footer {
    font-size: 12px;
    text-align: center;
    background-color: #064785;
    color: #f8f8f8;
    height: 60px;
    padding: 15px;
}

.footer a {
    color: #f8f8f8;
    font-weight: 700;
}

.panel-center {
    max-width: 450px;
    margin: 0 auto;
}

.panel-center form {
    padding: 20px 25px;
}

.loris-logo {
	height: 50px;
	padding-left: 1em;

}

.bottomlogin {
    background-color: rgb(228, 235, 242);
    margin: 1em;
}
